.home {
  height: 100vh;
  background-color: #fff;
}

.header {
  display: flex;
  color: black;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 0 10px #ccc;
}
.header .header_left {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px 17px;
  align-items: center;
}
.header .header_left .about_text,
.header .header_left .store_text {
  color: rgb(32, 32, 32);
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
  line-height: 20px;
  transition: all 0.5s;
}
.header .header_left .about_text:hover,
.header .header_left .store_text:hover {
  color: gray;
}
.header .header_right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header .header_right .gmail_text,
.header .header_right .images_text {
  color: rgb(32, 32, 32);
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.header .header_right .gmail_text:hover,
.header .header_right .images_text:hover {
  color: gray;
}
.header .header_right .app_icon {
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
}
.header .header_right .avatar {
  margin-right: 10px;
  cursor: pointer;
}
.home_body {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem;
}
.home_body .image {
  width: 80%;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_body .image img {
  object-fit: contain;
}
.home_body .search_box {
  position: relative;
  width: 40%;
  height: 50px;
}
.home_body .search_box .input_search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 1rem;
  padding: 0px 50px;
  font-family: "Titillium Web", sans-serif;
}
.home_body .search_box .search_icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}
.home_body .search_box .mic_icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}
.home_body .search_box .mic_icon:hover,
.home_body .search_box .search_icon:hover {
  color: rgb(36, 36, 36);
}
.home_body .buttons {
  width: 90%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_body .buttons button {
  padding: 10px 30px;
  margin: 0px 10px;
  outline: none;
  background-color: rgba(204, 204, 204, 0.226);
  border: none;
  color: rgb(32, 32, 32);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
}
.home_body .buttons button:hover {
  background-color: #ccc;
}
@media only screen and (max-width: 1000px) {
  .header {
    display: none;
  }
  .home_body .search_box {
    width: 90%;
  }
  .home_body .buttons .btn_lucky {
    display: none;
  }
  .home_body .buttons .btn_google_search {
    width: 80%;
  }
  .home_body .search_box .mic_icon {
    display: none;
  }
  .home_body .search_box .search_icon {
    right: 20px;
    left: auto;
  }
  .home_body .image {
    width: 40%;
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .home_body .image img {
    width: 100%;
  }
  .home_body .buttons .btn_lucky {
    display: none;
  }
  .home_body .buttons .btn_google_search {
    width: 100%;
  }
  .home_body .search_box .mic_icon {
    display: none;
  }
  .home_body .search_box .search_icon {
    right: 20px;
    left: auto;
  }
  .home_body .image {
    width: 40%;
    height: 100px;
  }
  .home_body .search_box {
    height: 30px;
  }
}
